

.btn-purple {
  @extend .btn;                /* hereda estilos base de Bootstrap */
  background-color: #8e00a7;   /* color personalizado */
  color: #fff;                 /* texto blanco */
}

.btn-purple:hover {
  background-color: #570f64; 
  color: #fff;  /* color al pasar el mouse */
}

.btn-purple:active {
  background-color: #8e00a7;   /* color al hacer clic */
  transform: scale(0.98);      /* efecto de presionar */
}

.purple-hover:hover{
  background-color: #8e00a7;
  cursor: pointer;
  color: white !important;
  border-radius: 10px;
}

.text-hover:hover{
  cursor: pointer;
  color: #8e00a7 !important;
}

.primary-text{
  color: rgb(201, 0, 167) !important;
}

.secondary-text{
  color: rgb(132, 21, 155) !important;
}
